/.vs
/VORP-Character\[Client-Server\]/vorpcharacter_cl/obj
/VORP-Character\[Client-Server\]/vorpcharacter_cl/obj/**
/VORP-Character\[Client-Server\]/vorpcharacter_cl/bin
/VORP-Character\[Client-Server\]/vorpcharacter_sv/obj
/VORP-Character\[Client-Server\]/vorpcharacter_sv/obj/**
/VORP-Character\[Client-Server\]/vorpcharacter_sv/bin
/VORP-Character\[Client-Server\]/build/vorp_character/*.pdb
/VORP-Character\[Client-Server\]/.vs
/VORP-Character\[Client-Server\]/.idea